html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFA500;
}

/* HEADER */

header {
    height: 125px;
}

header img {
    align-items: center;
}

.navbar {
    background-color: #191919;
    font-size: 18px;
    font-weight: bolder;
}

.nav .nav-link.active {
    background-color: #FFA500;
    color: #fff;
}

.nav .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar-toggler {
    background-color: #FFA500;
    max-width: 100%;
}

.contato-wpp {
    height: 43px;
    width: 220px;
    border-radius: 50px;
    border-color: #FFA500;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    align-items: center;
}

.contato-wpp img {
    width: 25px;
    height: 25px;
}

.contato-wpp a {
    text-decoration: none;
    margin-left: 2px;
    font-weight: 600;
}

/* HERO */

.hero {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 355px;
    color: #fff;
    position: relative;
}

.hero .hero-content h1 {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 54px;
    font-weight: 600;
}

.hero-content h1 span {
    color: #FFA500;
}

.hero::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: '';
    opacity: 0.5;
}

/* HOME */

#home {
    background-color: #fff;
    height: 450px;
}

.border-container p:first-child {
    border-top: 5px solid #191919;
    width: 140px;
    margin: 0 auto;
}

.border-container h2 {
    text-align: center;
    color: #FFA500;
    font-size: 48px;
    font-weight: 600;
    padding-top: 10px;
}

.border-container h2 span {
    color: #191919;
    font-weight: bold;
}

.border-container p {
    color: #333B47;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
}

.imgs {
    margin-top: 50px;
}

.img {
    width: 216px;
    height: 279px;
    cursor: pointer;
}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #191919;
    text-align: center;
}

.h3 span {
    color: #FFA500;
}

.h3 p {
    margin-top: 163px;
}

/* SERVIÇOS */

#servicos {
    height: 450px;
}

.servicos h2 {
    margin-top: 58px;
    font-size: 38px;
    font-weight: bolder;
}

.servicos ul {
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.servicos ul li img {
    max-width: 50px;
}

.servicos ul li h4 {
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
}

.servicos ul li p {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.carousel-indicators .active {
    background-color: #191919;
}

/* CONTATO */

#contato {
    background: linear-gradient(90deg, rgba(33,33,33,1) 45%, rgba(33,33,33,1) 45%, rgba(255,255,255,1) 45%);
}

.contatos {
    color: #fff;
    padding: 80px 0;
}

.contatos h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.contatos h2 span {
    color: #FFA500;
}

.email {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #191919;
}

.contatos ul {
    padding-left: 128px;
    padding-top: 36px
}

.contatos ul li {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    align-items: center;
    text-align: center;
}

.bi-envelope,
.bi-telephone-plus {
    color: #FFA500;
    font-size: 30px;
}

/* FORMS */

.forms {
    padding: 80px;
}

.form-email,
.form-text {
    margin-top: 20px;
}

.form-text {
    margin-bottom: 20px;
}

.form-btn {
    background-color: #F8AB08;
    border-color: #FFA500;
    color: #191919;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.form-btn:hover {
    background-color: #191919;
    border-color: #191919;
    color: #F8AB08;
}

/* FOOTER */

footer {
    text-align: center;
    color: #fff;
    background-color: #191919;
    border-color: #191919;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
}

footer p {
    padding: 22px;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 775px) {

    /* HEADER */

    header {
        height: 81px;
    }

    header img {
        width: 50px;
        height: 50px;
    }

    .contato-wpp {
        width: 180px;
        height: 40px;
        align-items: center;
    }

    .contato-wpp a,
    .contato-wpp i {
        font-size: 13px;
    }

    
    /* HERO */
    
    #cabecalho {
        background-color: #191919;
    }

    .hero {
        height: 15vh;
    }

    .hero .hero-content h1 {
        font-size: 18px;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    /* HOME */

    #home {
        height: 550px;
    }

    .border-container h2 {
        font-size: 30px;
    }

    .border-container p:first-child {
        width: 100px;
    }

    .border-container p {
        font-size: 13px;
        font-weight: 600;
    }

    .imgs {
        align-items: center; /* Centraliza as imagens */
    }

    .imgs img {
        max-width: 50%;
        margin: 0;
        width: 150px;
        height: 160px;
        cursor: pointer;
    }

    #home .h3 p {
        margin: 0;
        padding-top: 40px;
        font-size: 24px;
    }

    /* SERVIÇOS */

    #servicos {
        height: 880px;
    }

    .carousel-item ul {
        flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
        align-items: center;
        flex-wrap: wrap;
    }

    .carousel-item li {
        margin-right: 0; /* Remove a margem direita */
        margin-bottom: 20px; 
        max-width: 100%; /* Ajusta a largura máxima para telas pequenas */
    }

    .carousel-item img {
        max-width: 90px; /* Ajusta o tamanho das imagens em telas pequenas */
    }

    .list-unstyled li h4 {
        font-size: 14px; 
    }

    .list-unstyled p {
        font-size: 16px; 
    }

    /* CONTATOS */

    #contato {
        background: linear-gradient(180deg, rgba(33,33,33,1) 45%, rgba(33,33,33,1) 45%, rgba(255,255,255,1) 45%);
    }

    .contatos {
        margin: 0;
    }

    .contatos ul {
        padding: 20px;
        align-items: center;
    }

    /* FORMS */

    .forms {
        padding: 25px;
    }

    /* FOOTER */

    footer p {
        font-size: 14px;
    }

}

@media screen and (max-width: 375px) {

    /* HEADER */

    .contato-wpp {
        width: 50px;
        height: 50px;
    }

    .contato-wpp a {
        display: none;
    }

    /* HERO */

    .hero .hero-content h1 {
        font-size: 16px;
        position: absolute;
        bottom: 0px;
        right: 10px;
    }

    /* HOME */

    #home {
        height: 490px;
    }

    .border-container h2 {
        font-size: 25px;
    }

    .border-container p {
        font-size: 12px;
        font-weight: 600;
    }

    .imgs img {
        max-width: 50%;
        margin: 0;
        width: 100px;
        height: 120px;
        cursor: pointer;
    }


    #home .h3 p {
        margin: 0;
        padding-top: 40px;
        font-size: 20px;
    }

    /* SERVIÇOS */

    #servicos {
        height: 950px;
    }

    .servicos h2 {
        font-size: 34px;
    }
}